body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background:transparent;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  color: white !important;
  overflow-x: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

/* Background */


#background, #stars {
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: -9999; 
}

#background {
background: radial-gradient(at bottom right, #32577a 25%, #05363b 55%, #000000 90%); 
}

.ocult {
  opacity: 0;
  transition: all 0.2s 0.2s;
  pointer-events: none;
  position: absolute;
}


.hide {
  display: none;
}

.controller {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 10px;
  top: 10px;
  z-index: 1;
  background: #f1f1f1;
  border: 1px solid #ddd;
  padding: 10px;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
      margin: 5px 0 8px;
    }
    
    button {
      display: block;
      width: 100%;
      padding: 5px 15px;
    }
  }
  
  .active {
    background: #1d48f1;
    color: #fff;
  }  
}

#canvas {
  background: none;
}

#btn_run_algorithm {
  display: block;
  margin-top: 15px;
  background: #ff0000;
  color: #fff;
  padding: 10px 25px;
  font-size: 1.4rem;
}

.btn_run_algorithm {
  display: block;
  margin-top: 15px;
  background: #ff0000;
  color: #fff;
  padding: 10px 25px;
  font-size: 1.4rem;
  width:6em;
}

#notification {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  text-align: center;
  color: #fff;
  padding: 6px 25px 5px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: block;
  font-size: 0.9rem;
}

input[type=range] {
  width: 100%;
}

/* Carrusel de imagenes */

.carImg {
    z-index: 10;
    margin: 0 auto;
    position: absolute;
    top: 5em;
    left: 35em;
    display: flex;
    flex-direction: column;
    transition: all 0.2s 0.2s;
}

.carImg button {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.581);
    border-radius: 1em;
    color: white;
    margin-top: 1em;
    font-size: x-large;
}

.disableObj {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s 0.2s;
}

/* ESTILOS CHAT */

#chat-container {
    background-color: #04040436;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.123);
    padding: 2em;
}

.bot-message {
  color: white;
  margin: 1em 0;
}

#chat-window {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60em;
}

#user-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.123);
  border-radius: 1em;
  padding: 1em;
  width: 88%;
  color: white;
}

#send-btn {
  background-color: transparent;
  border-radius: 0.5em;
  font-size: large;
  color: white;
}











